@font-face {
	font-family: Olivier;
	src: url('client/olivier.ttf');
	src: url('client/olivier.tff') format('truetype');
}

html {
	min-height: 100%;
}

body {
	background: linear-gradient(0deg, #fef3d0, #3396bb);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
}

h1 {
	color: #fff;
	font-family: Olivier;
	font-size: 60px;
	margin-top: 15%;
	position: relative;
}

a {
	text-decoration: none;
}

.feelingbutton {
	background-color: rgba(255, 255, 255, 0.4);
	border: none;
	border-radius: 15px;
	color: #3396bb;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	position: relative;
	text-decoration: none;
}

.feelingbutton a:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.createbutton {
	color: #3396bb;
	padding: 20px;
}

.emotionscontainer {
	padding: 20px;
}