html {
	min-height: 100%;
}

body {
	background: linear-gradient(0deg, #fef3d0, #3396bb);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
}

a {
	text-decoration: none;
}

.imfeeling {
	margin-top: 15%;
	padding: 10px;
	position: relative;
}

.feelingbutton {
	background-color: rgba(255, 255, 255, 0.4);
	border: none;
	border-radius: 15px;
	color: #3396bb;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	position: relative;
	text-decoration: none;
}

.feelingbutton a:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.createbutton {
	color: #3396bb;
	display: block;
	padding: 20px;
}

.emotionscontainer {
	display: block;
	margin: auto;
	padding: 50px;
	position: relative;
	text-align: center;
	width: 500px;
}

.navigationbar {
	background-color: white;
	width: auto;
}

#navigationbar ul {
	list-style: none;
	margin: 0;
	padding-left: 50px;
	line-height: 1;
	display: block;
	zoom: 1;
	text-align: left;
}

#navigationbar ul:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

#navigationbar ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#navigationbar ul li h1 {
}

#navigationbar ul li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 15px 25px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#navigationbar ul li a:hover {
	color: #efefef;
}
