.createheader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	background-color: rgba(255, 255, 255, 0);

	padding: 15px 20px;
	font-size: 20px;
	text-align: left;
}

.createcontainer {
	margin-top: 50px;
    padding: 10px 15px;
    font-size: 35px;
}

.subtitle {
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 25px;
}

.createchoices {
	margin-top: 25px;
}

.createchoices label {
	width: 120px;
	height: 45px;
	margin: 0px 20px;
	border: none;
	cursor: pointer;
}

.createchoices label span {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 35px;
	margin: 30px;
}

.createchoices label input {
	position: absolute;
	top: -20px;
}

.createchoices label:hover {
	color: white;
}

.createchoices input:checked + span {
	border: none;
	border-radius: 5px;
	background-color: rgba(214, 235, 255, 0.6);
}

.createcontent {
	margin: 50px auto 0px auto;
	font-size: 20px;
	width: 80%;
}

.createcontent input {
	font-size: 30px;
	height: 30px;
	width: 90%;
}

.createcontenttext {
	margin-top: 20px;
	text-align: center;
}

.submitbutton {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	border: none;
	border-radius: 5px;
}

.submitbutton:hover {
	background-color: rgba(153, 204, 255, 0.7);
}

.tags {
	margin: 0 auto;
	width: 35%;
	font-size: 20px;
}

.prettytags {
	background-color: white;
}