
body {
	background: linear-gradient(0deg, #fef3d0, #3396bb);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
}

.streamheader {
	color: black;
}

.streamcontainer {
	margin-top: 5px;
	margin-right: 50px;
	margin-left: 50px;
    padding: 10px 15px;
    font-size: 35px;
    background-color:rgba(255,255,255,0.6);
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.streamelement {
	max-height:20%;
}

.stream-element-separator {
	color: black;
}

.imageelement {
	max-width:50%;
	max-height:50%;
}

.videoelement {
	max-width:50%;
	max-height:50%;
}

.textelement {
	color: black;
	font-family: 'Lato', sans-serif;
}

.logo {
	color: white;
}

.feelingcontainer {
	display: inline-block;
}

.feelingtext {
	display: inline;
	color: #2f87af;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
}

.feelingdropdown {
	display: inline;
	color: #2f87af;
	font-family: 'Lato', sans-serif;
}